* {
    margin: 0%;
    padding: 0px;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


body {
    background-color: khaki;
}

.container {
    background-color: wheat;
    width: 300px;
    height: 400px;
    margin: auto;
    text-align: center;
    position: relative;
    top: 50px;
    box-shadow: 0 5px 5px gray;
    border-radius: 10px;
}

.title {
    padding: 20px;
}

.input {
    padding: 10px;
    border: none;
    background-color: wheat;
    border-bottom: 2px dashed #333;
    font-size: large;
    width: 200px;
}
.input:focus{
outline: none;
}

.btn {
    margin-left: 10px;
    font-size: medium;
    padding: 10px;
}

.list {
    overflow: scroll;
    scrollbar-width: none;
    height: 240px;
    padding: 20px;
}

.list li {
    text-align: left;
    padding: 10px;
}